DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=postgresql://ibtikar:ibtikar@localhost:5432/ibtikartech
DEFAULT_FROM_EMAIL=Ibtikar Tech <no-reply@example.com>
