{% extends "public_preview/base.html" %}

{% block head %}
{% block article_head_metadata %}{% endblock %}
{% block article_styles %}
<link rel="stylesheet" href="/static/public_preview/assets/css/pages/articles.css">
<link rel="stylesheet" href="/static/public_preview/assets/css/pages/frontend-final.css">
<link rel="stylesheet" href="/static/public_preview/assets/css/pages/launch-readiness.css">
{% endblock %}
{% block article_structured_data %}{% endblock %}
{% endblock %}

{% block body_attrs %} class="inner-page article-page" data-section="knowledge"{% endblock %}

{% block body %}
<div class="reading-progress" id="progressBar" aria-hidden="true"></div>

<main id="main-content">
{% block article_content %}{% endblock %}
</main>

{% block article_scripts %}
{% include "public_preview/components/public_runtime_core_scripts.html" %}
<script src="/static/public_preview/assets/js/articles.js" defer></script>
{% endblock %}
{% endblock %}
